body {
  /* background-color: #000; */
  background: url(./public/bg1.jpeg);
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #00000066; */
}
.imgBox {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 600px; */
  /* background: pink; */
}
.imgBox img {
  width: 1200px;
  height: 1000px;
}
.canvasBox {
  width: 100%;
  /* background: pink; */

  position: relative;
  z-index: 1;

  /* background: black; */
  display: flex;
  align-items: center;
}
.canvas {
  cursor: pointer;
  margin: -11em auto 0 auto;
}
